.logo {
    display: flex;

    img {
        border: 1px solid rgba(var(--color-primary), 0.5);
        border-radius: 50%;
    }

    .label {
        div {
            font-family: Bebas;
            line-height: 0.99;
            margin-inline-start: 10px;
            text-transform: uppercase;

            &:first-child {
                color: var(--color-dark);
                font-size: 21px
            }

            &:last-child {
                color: rgb(var(--color-primary));
                font-size: 23px;
            }
        }
    }
}

.inverted {

    img {
        filter: opacity(20%) contrast(2);
    }

    div {
        color: #63769D !important;
    }
}