.sticky-nav {
    align-items: center;
    background-color: #FFF;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 320px;
    position: sticky;
    width: 100vw;
    z-index: 3;

    @media (max-width: 1024px) {
        padding-inline: 130px;
    }

    @media (max-width: 570px) {
        padding-inline: 70px;
    }

    @media (max-width: 440px) {
        padding-inline: 30px;
    }

    & > .menu {
        color: rgb(var(--color-primary));
    }
}