.sticky-nav {
    align-items: center;
    background-color: #FFF;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 320px;
    position: sticky;
    width: 100vw;
    z-index: 3;

    & > .menu {
        color: rgb(var(--color-primary));
    }
}