.footer {
    align-items: center;
    background-color: rgb(var(--color-primary));
    display: flex;
    justify-content: space-between;
    padding: 16px 320px;

    @media (max-width: 1200px) {
        padding-inline: 150px;
    }

    @media (max-width: 804px) {
        padding-inline: 50px;
    }

    @media (max-width: 530px) {
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding-inline: unset;
    }

    &__copyright {
        font-family: Lato;
        font-size: 12px;
        font-style: italic;
        text-transform: uppercase;
    }
}