.history {
    background:
        url('./images/history_background.png')
        no-repeat;
    background-size: cover;
    display: flex;
    height: 905px;
    padding-inline: 320px;

    &__statement {
        margin-top: 10px;
    }

    &__body-text {
        color: rgb(21, 24, 27);
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 300;
        left: 75px;
        position: absolute;
        top: 154px;
        width: 813px;
    }

    &__carousel-wrapper {
        align-self: flex-end;
        background-color: rgba(var(--color-primary), 0.7);
        height: 195px;
        left: 0;
        padding-inline: 345px;
        position: absolute;
        width: 100vw;
    }
}